<% provide(:title, "Top") %>
<!--<div class="jumbotron">-->

  <div class="col-md-7">
    <div class="center jumbotron" id="top-main">
      <h1 class="top-main-title">TaskApp</h1>
      <p>TaskAppは簡易ToDo管理ツールです。</p>
      <p>↓↓初めてのご利用↓↓</p>
        <a class="btn btn-lg btn-success" href="/signup">アカウント作成</a>
        <div style="margin-top: 10px;">
          <a class="btn btn-danger" href="/guest-admin/login">ゲストログイン（管理権限）</a>
          <a class="btn btn-warning" href="/guest/login">ゲストログイン（一般権限）</a>
        </div>
    </div>
  </div>
  

  <div class="col-md-4">
  <h1>ログイン</h1>
  <form action="/login" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓" />
  <input type="hidden" name="authenticity_token" value="IlNQwkThYVuNcNEyZCCcAL58mydamLrBqNPraoP0eJgSU/HION/FtnJjAgEwud3t2yr4l/For70zzH3cuGtC4A==" />

  <label class="label-login" for="session_email">Email</label>
  <input class="form-control" type="email" name="session[email]" />

  <label class="label-login" for="session_password">Password</label>
  <input class="form-control" type="password" name="session[password]" />
  <label>
    <input type="checkbox" name="commit" checked>ログイン情報を記憶する
  </label>
  <input type="submit" name="commit" value="ログイン" class="btn btn-primary btn-block btn-login" data-disable-with="ログイン" />
 
  </form>
</div>


